.btn-danger
{
    background-color: #dc3333;
    border-color: #dc3333;
}
.tab-pane .item-content
{
    margin-top: 20px
}

.rows-bids
{
    text-align: left;
    margin-left: 26px;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;


}
.bids
{
    color: #333;
}
.item-price
{
    text-align: right;
    margin-right: 25px;
}
.time-rows
{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}
.submit_btn
{
    text-align: center;
    margin-top: 0px;

}
input.price
{
    text-align: center;
    width: 120px;
    font-size: 15px;
    color: #000;
    margin-bottom: 6px;
}
.nav-tabs li
{
    width: 600px;
}

.nav-tabs > li.active a:after, .nav-tabs > li:hover a:after
{
    margin-top: 10px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    color: #fff;
    background-color: #dc3333;
}
.nav-tabs>li>a
{
    margin-right: -1px;
    border-radius: 0px;
}

.header-title .title-left h2 a
{
    font-weight: bold;
}

.nhomsp
{
    background-color: #fff;
    border: #000000 1px solid;
}
ul{
    list-style-type: none;
}
li{
    display: block;
}



