body {
    margin:0px; 
    padding:0px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif; 
    font-size:13px; 
    line-height:18px; 
    background-color:#eff0eb;   
}

.clear {clear:both;}
a {color:#d2092d;text-decoration:none;}
a:hover {text-decoration:underline;}

#layout {

}

#layout-header {

}

#layout-content {

}

#layout-footer {

}

#header {
    margin:0px auto;
    height:60px;
    width:980px;
    position:relative;
    background-color:#fff;
    margin-top:12px;
}

    #logo {
        position:absolute;
        left:0px;
        top:0px;
        width:160px;
        height:30px;
        margin-top:5px;
        margin-left:12px;
    }
    
    #user-menu-zone {
        position:absolute;
        right:0px;
        top:0px;
        margin-top:6px;
        margin-right:3px;
    }

        #user-links {
            list-style-type:none;
            padding:0px;
            margin:0px;
        }
        
        #user-links  li {
            display:inline;
            margin:0px 10px;
        }
        
        #user-links  li.sep {
            margin:0px 0px;
            width:2px;
            border-right:solid 1px #ccc;
            font-size:10px;
        }
    
    #navbar {
        margin:0 auto;
        height:38px;
        line-height:38px;
        width:980px;        
        background:transparent url('/content/images/navbar-background.jpg') no-repeat 0 0;
    }
        #main-menu {
            margin:0px;
            padding:0px;
            height:25px;
            line-height:25px;
            list-style-type:none;
        }
        
        #main-menu li {
            display:inline;
        }

#footer {
    width: 980px;
    margin: 0px auto;
    text-align: center;
    border: solid 1px #DDD;
    margin-bottom: 15px;
    background-color: #F2F2F2;
    margin-top: 10px;
    padding: 10px 0px;
}

#container {
    width:980px;
    margin:0px auto;
}

#breadcrumb {
    height:25px;
    line-height:25px;
    padding-left:5px;
    color:#494949;
    background-color:Transparent;
}

#navbar-link-home {
    display:block;
    width:50px;
    height:35px;
    text-indent:-1000px;
    float:left;
}

#navbar-links {
    margin:0px;
    padding:0px;
    list-style-type:none;
    margin-left:12px;
}

#navbar-links li {float:left;margin:0px 10px;}

#navbar-links li a {color:#fff;text-decoration:none;font-weight:bold;}
#navbar-links li a:hover {text-decoration:underline;}

#navbar-links .navbar-sep {
    width:6px;
    margin:0px 5px;
    background:transparent url('/content/images/nav-sep.jpg') no-repeat 0px 8px;
}


#auction-items {
    border:solid 1px #d0d0d0;
    background-color:#f5f5f5;
}

.auction-items {
    margin:12px;
}

.auction-item {
    border:solid 1px #ccc;
    height:280px;
    width:219px;
    background-color:#fff;
    vertical-align:top;
}

.auction-item .title {
    height:30px;
    line-height:30px;
    text-align:center;
    margin:5px 3px 5px 3px;
    overflow:hidden;
}

.auction-item .title a, .auction-item .title a:link, .auction-item .title a:visited {
    text-decoration:none;
    font-size:16px;
}

.auction-item .title a:hover {
    text-decoration:underline;
}

.auction-item .picture {
    text-align:center;
    margin:5px 0px;    
}

.auction-item .picture img {
    width:150px;
    height:150px;
}

.server-time {
    margin-bottom:12px;
}

.price {
    text-align:center;
}

#lbl-msg {
    padding:5px 10px;
    margin:10px;
    border:solid 1px #ccc;
}

#bids-list {margin:10px;}
.auction-rows, .rows {text-align:center;margin-bottom:6px;color:#bbb;}
.original-price {font-weight:bold;}
.last-bid-price {text-align:left;}
.last-bid-user {text-align:left;}

#msgBox{background-color:#D2092D;color:#FFF;display:none;padding:10px;position:absolute;}
#msgBox a {color:White; font-weight:bold;}

.original-price-rows {text-align:center;margin-bottom:3px;color:#bbb}
.saved-percent-rows {color:#4a4a4a;text-align:center;}
.server-time-rows {
    text-align:center;font-weight:bold;margin-bottom:6px;font-size:15px;    
}

.server-time-rows .glasshour {background:transparent url('/content/images/glasshour3.jpg') no-repeat 0 0;padding-left:20px;height:30px;line-height:30px;}
.server-time-rows table {height:30px;margin:0 auto;}

.last-bid-price {font-size:18px;margin:3px 0px 0px 0px;color:#e65709;text-align:center;}
.last-bid-user {color:#d00a2e;margin:3px 0px;text-align:center;}
.submit-btn {text-align:center;margin:6px 0px 12px 0px;}
input.price {border:solid 1px #888;margin-bottom:6px;font-size:15px;color:#000;width:120px;}

#pagination {
    margin:0px 15px 12px 0px;
    text-align:right;
}

#facebook-like-box {    
    width:245px;
    height:255px;
    margin-top:12px;
    background-color:#F2F2F2;
    float:right;
}

#recent-comments {
   margin-top:12px;
   width:720px;
   height:253px;
   float:left;
   background-color:#F2F2F2;
   border:solid 1px #ddd;
}

.picture {
    position:relative;
}

.picture img {
    border:solid 1px #eee;
}

.status-end {
    position:absolute; top:0px;left:0px;
    z-index:0;
    background:transparent url('/content/images/end-label.png') no-repeat 0 0;
    width:45px;
    height:45px;
    margin-top:-1px;
    margin-left:30px;
}


#recent-comments {
    overflow:hidden;
}

.comment-pane-caption {
    color:#666;
    height:20px;
    line-height:20px;
    border-bottom:solid 1px #ccc;
    margin:6px 12px;
    font-weight:bold;
}

.comment-list {
    margin:0px 12px;
}

.comment-list img.finger {
    vertical-align:middle;
    margin:-3px 3px 0px 3px;
}

.recent-comment-item {
    margin-bottom:3px;
    padding-left: 25px;
    background: url('/content/images/user-icon.png') no-repeat 5px 6px;
    padding-top: 5px;
}

.recent-comment-author {
    font-weight:bold;
    color:#666;
}

#help-content {
    padding:20px 20px;
    background-color:#fff;
}

.bbCode .bbCodeQuote {margin:0px; margin-top:12px;}
.bbCodeQuoteHeader {display:none;margin-top:12px;}


#navbar-links li {float:left;margin:0px 10px;}
#navbar-links li.selected { 
    background-color: #e51c24;
    padding:0px 12px;
}

#pane-main {
    background-color:#fff;
    margin-top:1px;
}

#pane-left {
    float:left;
    width:699px;
}

#pane-right {
    float:right;
    width:279px;
}

.box-right {
   width:256px;
   margin-left:9px;
   background-color:#fff;
   border:solid 1px #bbcddb;
   color:#6e6e6e;
   padding-bottom:9px;
}

.box-caption {
    color:#666;
    height:20px;
    line-height:14px;
    padding:6px 12px;
    background:transparent url('/content/images/menu-header-bg.gif') repeat-x 0 0;
}

#categories-box {

}

#categories-box ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}

#categories-box ul li {
    height:22px;
    line-height:22px;
    margin-left:12px;
    background:transparent url('/content/images/menu-icon.gif') no-repeat 0px 7px;
    padding-left:17px;
}

#categories-box ul li a.selected {
    font-weight:bold;
}

#recent-comments {
    margin-top:9px;
}

#support-box {
    margin-top:9px;
}

#support-box td {
    height:22px;
    line-height:22px;
    padding:6px 0px;
}

 #navbar {
        margin:0 auto;
         height:38px;
        line-height:38px;
        width:980px;        
        background:transparent url('/content/images/background-menu-bar.png') repeat-x 0 0;
    }
    
#breadcrumb {
    height:30px;
    line-height:30px;
    padding-left:12px;
    color:#494949;
    border-bottom:solid 1px #ccc;
    background-color:#f6f6f6;
}

#navbar-links {
    margin-left:0px;
}


body {
    background-color:#eff0eb;
}

#layout-header {
    background-color:#fdfdfb;
    height:83px;
    background:transparent url('/content/images/v2/top-bg.jpg') repeat-x 0 0;
}

#layout-footer {
    background:transparent url('/content/images/v2/footer-bg.jpg') repeat-x 0 0;
    height:140px;
}

#header {
    height:83px;
    margin-top:0px;
    background-color:transparent;
}

#logo {
        position:absolute;
        left:0px;
        top:0px;
        width:240px;
        height:83px;
        margin-top:0px;
        margin-left:0px;
    }
    
    #hotline-zone {
        position:absolute;
        right:0px;
        top:0px;
        width:155px;
        font-weight:bold;
        color:#555;
        margin-top:45px;
        height:30px;
        line-height:30px;
        font-size:15px;
    }
    
    #hotline-zone img {
        float:left;
        margin-right:3px;
        border:none;
    }

#navbar {
    margin:0 auto;
    height:25px;
    line-height:25px;
    width:980px;       
    background-image:none; 
}

#footer {
    width: 980px;
    margin: 0px auto;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px 0px;
    border:none;
    background-color:transparent;
}

#layout-menu {
    height:25px;
    background-color:#000;    
}

#layout-submenu {
    height:27px;
    background-color:#f8f9f4;
    border-bottom: solid 1px #cececc;
}

#breadcrumb {
    height:27px;
    line-height:27px;
    padding-left:5px;
    color:#494949;
}

#breadcrumb .center {
    width:980px;
    margin:0 auto;    
}

#breadcrumb {
    padding-left:20px;    
}

.list-news-item {
    margin-bottom:12px;    
}

.news-title {
    font-size:14px;
    margin-bottom:6px;    
	padding: 3px 0px;
	border-bottom:dotted 1px #ccc;
}

.news-short-desc {display:none;}

#news-title {
    font-size:16px;
    font-weight:bold;
    margin-bottom:12px;    
	padding-bottom:3px;
    border-bottom:dotted 1px #ccc;
	
}

#news-content {font-family:Arial}

#news-info {
    display:none;    
}

#related-news {
    margin:20px;
    padding-bottom:12px;    
}

.rn-title {
    font-size: 14px;
    margin-bottom: 6px;
    font-weight:bold;
    padding-bottom: 3px;
    border-bottom: dotted 1px #ccc; 
}

.rni-title {
    font-size: 13px;
    margin-bottom: 6px;
    margin-bottom: 3px;
}